[submodule "pronto"]
	path = pronto
	url = https://github.com/mitdrc/pronto.git
[submodule "kinematics-utils"]
	path = kinematics-utils
	url = https://github.com/mitdrc/kinematics-utils.git
[submodule "externals/frsm"]
	path = externals/frsm
	url = https://github.com/mitdrc/frsm
[submodule "signal-scope"]
	path = signal-scope
	url = https://github.com/mitdrc/signal-scope
[submodule "ICPCUDA-pod"]
	path = ICPCUDA-pod
	url = git@github.com:ipab-slmc/ICPCUDA-pod.git
